extends layout

block content 
    h1= title
    p Listado de #{title}
    ul
    div 
        table.table 
            thead 
            tr
                th Username 
                th Nombre
            tbody 
            each usuario in usuarios
                tr
                    td #{usuario.Username}
                    td #{usuario.Nombre}